Arpeggio==2.0.2
attrs==24.2.0
certifi==2024.8.30
charset-normalizer==3.4.0
debugpy==1.8.9
dill==0.3.9
grpcio==1.66.2
idna==3.10
parver==0.5
protobuf==4.25.5
pulumi==3.141.0
pulumi_aws==6.60.0
pulumi_eks==3.2.0
pulumi_kubernetes==4.18.3
pulumi_std==1.7.3
pulumi_tls==5.0.9
PyYAML==6.0.2
requests==2.32.3
semver==2.13.0
six==1.16.0
typing_extensions==4.12.2
urllib3==2.2.3
